.manage-ctn {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.nav {
    border: 1px solid #ccc;
}

.nav ul li {
    width: 100px;
    border-bottom: 1px solid #ccc;
    line-height: 1.5;
}