*
    box-sizing: border-box
    margin: 0
    padding: 0

ul, li
    list-style: none

::-webkit-scrollbar
    width: 0
    height: 0
    opacity: 0

a, a:hover, a:link, a:active
    color: inherit
    text-decoration: none

input, textarea
    outline: none

.hide
    display: none

.fl
    float: left

.fr
    float: right

$c1: #48C4F5   // 主题色
$c2: #00aaee   // 主题辅助色
$c3: #4a4a4a   // 灰色
$ft1: 1.4rem    // 主要文字大小

html, body
    height: 100%
    overflow: auto

body
    font-size: $ft1
    color: $c2

@mixin els
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap

@mixin center-center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.els
    @include els


// 列表
.item
    overflow: hidden
    border-radius: 0.4rem
    .img-ctn
        width: 35%
        height: 100%
        text-align: center
        overflow: hidden
        position: relative
        img
            min-height: 100%
            min-width: 100%
            @include center-center
        .title
        .sub-title
            color: #888
